<%- include('./partials/header.ejs')%>
    <main class = "content">
        <h3>About Us</h3> 
        <p>Vehicle Trading</p>
        <p>An online platforms that allow individuals or businesses to buy, sell, or trade vehicles.</p>
    </main>
    <%- include('./partials/footer.ejs')%>