<%- include('./partials/header.ejs')%>
    <main class = "content">
        <p>Thank you for visiting our website. If you have any questions or comments, please feel free to contact us.</p>
	    <ul>
		    <li><strong>Owner:</strong> Bhanu Prasad Meka</li>
		    <li><strong>Email:</strong> bmeka2@uncc.edu</li>
		    <li><strong>Phone:</strong> 980-980-9809</li>
		    <li><strong>Address:</strong>999 University Terrace Dr, NC, USA</li>
	    </ul>
    </main>
    <%- include('./partials/footer.ejs')%>