<%- include('./partials/header.ejs')%>
    <main class = "content">
        <h3><%= error.status%> Error</h3> 
        <p><%= error.message%></p>
    </main>
    <%- include('./partials/footer.ejs')%>