<%- include('./partials/header.ejs') %>
    <main class="content">
      <h1>Welcome to Vehicle Trading Site</h1>
      <p>This is an online platform for buying and selling Vehicles. You can start trading by clicking the "Start Trade" link in the header.</p>
    </main>
    
<%- include('./partials/footer.ejs') %>